# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Env
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Vector DB
chroma_db/
chroma/
faiss_index/
*.faiss

# Data
data/docs/*.pdf
data/docs/*.docx
data/examples/*.xlsx
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
